/* 
**********************************DAY 1*********************************************************

1.1
.subscribe_button {
    background-color: rgb(180, 32, 32);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.join-button {
    background-color: white;
    color: rgb(70, 70, 205);
    border-color: rgb(88, 88, 252);
    border-style: solid;
    border-width: 1px;
    height: 30px;
    width: 50px;
    border-radius: 1.5px;
    cursor: pointer;
    margin-right: 8px;
}

.tweet-button {
    background-color: rgb(0, 141, 249);
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    cursor: pointer;
    text-size-adjust: 50%;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
}

************************************************************************************************
1.a,b,c,d,e,f,g

.req-no {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    font-size:small;
    margin-right: 8px;
}

.cart {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 40px;
    width: 195px;
    border-radius: 20px;
    font-size:small;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
}

.git {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    border: none;
    border-radius: 6px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
}

.boot {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    border: none;
    border-radius: 6px;
    font-size:small;
    font-weight: bold;
    margin-left: 8px;
}

.download {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 115px;
    border-radius: 2.5px;
    font-size:small;
    font-weight: bold;
    margin-left: 8px;
}

.linked {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 40px;
    width: 275px;
    margin-top: 8px;
    border-radius: 20px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
}

.save {
    background-color: white ;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1.5px;
    height: 40px;
    width: 90px;
    margin-top: 8px;
    border-radius: 20px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
}

********************************Day 2*********************************************************
2.1

.subscribe_button {
    background-color: rgb(180, 32, 32);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    vertical-align: top;
}

.subscribe_button:hover{
    background-color:rgb(189, 58, 58);
    opacity: 0.8;
}

.subscribe_button:active{
    background-color: rgb(145, 0, 0);
    opacity: 1;
}

.join-button {
    background-color: white;
    color: rgb(70, 70, 205);
    border-color: rgb(88, 88, 252);
    border-style: solid;
    border-width: 1px;
    border-radius: 1.5px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
    transition: background-color 0.15s,color 0.15s;   
}

.join-button:hover {
    background-color:  rgb(88, 88, 252);
    color: white;
}

.tweet-button {
    background-color: rgb(0, 141, 249);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-size-adjust: 25%;
    font-weight: bold;
    font-size: 15px;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align:top;
    transition: box-shadow 0.15s;
}

.tweet-button:hover {
    box-shadow: 0px 1px 8.5px rgba(0, 0, 0, 0.35);
}

************************************************************************************************
2.a,b,c,d,e,f,g

.req-no {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    font-size:small;
    margin-right: 8px;
    cursor: pointer;
}

.req-no:hover {
    opacity: 0.8;
}

.cart {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 40px;
    width: 195px;
    border-radius: 20px;
    font-size:small;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
    cursor: pointer;
}
.cart:hover {
    background-color: rgb(238, 203, 30);
}

.git {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    border: none;
    border-radius: 6px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
    transition: box-shadow 0.15s;
    
}
.git:hover {
    box-shadow: 0px 2px 10px rgba(39, 39, 39, 0.35);
}

.boot {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    border: none;
    border-radius: 4px;
    font-size:small;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color .15s;
}
.boot:hover {
    background-color:  rgb(99, 62, 155);
}

.download {
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-style:solid;
    border-width: .5px;
    height: 40px;
    width: 115px;
    border-radius: 2.5px;
    font-size:small;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.35s, color 0.15s;
}
.download:hover {
    color: white;
    background-color: rgb(122, 127, 131);
}

.linked {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 40px;
    width: 275px;
    margin-top: 8px;
    border-radius: 20px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.2s;
}

.linked:hover {
    background-color: rgb(6, 73, 139)
}

.save {
    background-color: white ;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1.5px;
    height: 40px;
    width: 90px;
    margin-top: 8px;
    border-radius: 20px;
    font-size:medium;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.15s,  border-width 0.05s, box-shadow 0.15s;
}

.save:hover {
    background-color: rgb(219, 237, 255);
    border-width: 2px;
    box-shadow: 1px 0 50px rgba(87, 87, 87, 0.35);
}

************************************************************************************************
2.h

.href{
    color: rgb(2, 119, 119);
}
.text{
    font-size: larger;
    font-weight: bold;
}

.stock{
    font-weight: bold;
    color: green;
}
.cart{
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size:small;
    margin-right: 8px;
    font-size: medium;
    cursor: pointer;
}
.cart:hover {
    background-color: rgb(238, 203, 30);
}
.cart:active{
    
    opacity: 0.7;
}

.buy{
    background-color: rgb(255, 147, 45);
    color: black;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    font-size:small;
    margin-left: 4px;
    margin-right: 8px;
    font-size: medium;
    cursor: pointer;
}
.buy:hover {
    background-color: rgb(233, 138, 48);
}
.buy:active{
    opacity: 0.7;
}

************************************************************************************************
2.i

.back{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px ;
    padding-bottom:10px ;
    margin-left: 20px;
    margin-right: 8px;
}

.next{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px ;
    padding-bottom:10px ;
    margin-left: 8px;
    margin-right: 8px;
}

.href1{
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: underline;
}

.href2 {
    margin-left: 8px;
    margin-right: 8px;
}
.href3{
    margin-left: 8px;
    margin-right: 8px;
}

.href4{
    margin-left: 8px;
    margin-right: 8px;
}
.href5{
    margin-left: 8px;
    margin-right: 8px;
}

************************************************************************************************
2.j

.Stretch{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom:5px ;
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
    cursor: pointer;
    transition: padding .55s;
}

.Stretch:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px ;
    padding-bottom:10px ;
}

************************************************************************************************
2.k

.Shadow{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom:5px ;
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 3px 2px 2px rgba(56, 56, 56, 0.35);
    transition: margin 0.05s, box-shadow 0.15s;
}

.Shadow:active {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
    box-shadow: none;
}

************************************************************************************************
2.l

.One{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom:5px ;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
    cursor: pointer;
    transition: padding 0.15s, margin 0.15s;        
}

.One:hover {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.Two{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom:5px ;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
    cursor: pointer;
    transition: padding 0.15s, margin 0.15s;
    }

.Two:hover {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.Three{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom:5px ;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
    cursor: pointer;
    transition: padding 0.15s, margin 0.15s;
    }

.Three:hover {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

*****************************DAY 3*********************************************************
5.1

p{
    font-family: Arial;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 300px;
    line-height: 24px;
    margin-bottom: 20px;
}
.des{
    font-weight: bold;
    font-size: 18px;
    margin-bottom:5px;
}

.views{
    color: rgb(91, 91, 91);
}
.name{
    color: rgb(91, 91, 91);
}
.sub{
    color: rgb(113, 113, 113);
    line-height: 22px;
}

************************************************************************************************
5.2

p{
    font-family: Arial;
    font-size: 14px;
    text-align: center;
}
.promo{
    font-style: 14px;
    background-color:  rgb(208, 49, 49);
    color: white;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.x{
    color: white;
    cursor: pointer;
    margin-left: 5px;
}
.x:hover{
    text-decoration: underline;
}

************************************************************************************************
5.a

p{
    font-family: tahoma;
    font-weight: bold;
    font-size: large;
}

************************************************************************************************
5.b

p{
    font-family: arial;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.tues{
    font-weight: normal;
    font-size:small;
    font-style: italic;
    color: red;
}

************************************************************************************************
5.c

p{
    font-family: verdana;
    font-weight: bolder;
    margin: 0;
}

.pro{
    font-weight: lighter;
    font-size:small;
    color: rgb(140, 140, 140);
    
}

.in{
    font-weight: lighter;
    font-size:small;
    width: 250px;
    margin-top: 20px;
}
.get{
    background-color: green ;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5;
    padding-bottom: 5px;
    
}
.get:hover{
    cursor: pointer;
}

************************************************************************************************
5.d

p{
    font-family: arial;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.tues{
    font-weight:normal; 
    font-size: 12px;
    text-align: center;
    width: 250px;
    line-height: 35px;
}

.more{
    font-weight:normal; 
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    width: 250px;
    color: rgb(54, 95, 200);
}

.more:hover{
    cursor: pointer;
}

************************************************************************************************
5.e

p{
    font-family: arial;
    font-weight: bold;
    font-size: large;
    text-align: center;
    width: 300px;
    margin: 0;
    display: block;
    margin: auto;
}

.from{
    font-weight:normal; 
    font-size: 12px;
    line-height: 35px;
}

.new{
    font-size: 12px;
    color: rgb(218, 131, 17);
}

.pros{
        font-size: x-large;
        line-height: 20px;
}

.buy{
    font-family: arial;
    background-color: rgb(8, 109, 193) ;
    border: none;
    color: white;
    border-radius: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5;
    padding-bottom: 5px;
    display: block;
    margin: auto;

}
.buy:hover{
    cursor: pointer;
}

************************************************************************************************
5.f

.container{
    font-family: arial;
    line-height:1px;
    padding: none;
    margin: none;
}
.usd{
    font-family: arial;
    color: gray;
    font-size: x-small;
}

.today{
    font-family: arial;
    color: green;
    font-size: x-small;
    margin-top: 10px;
}

.after{
    font-family: arial;
    color: rgb(96, 96, 96);
    font-size: x-small;
}

.down{
    font-family: arial; 
    color: red;
    font-size: x-small;

}

************************************************************************************************
5.g

p{
    font-family: Arial;
    width: 500px;   
}
.org{

    color: rgb(107, 107, 107);
}

.twi{
    color: rgb(26, 155, 230);

}

************************************************************************************************
6.a,b,c,d

.container{
    font-family: montserrat;
    text-align: center;
    line-height: 1px;
}
.Model{
    font-weight: bold;
    font-size: 50px;
    
}
.delivery{
    text-decoration: underline;
}
.delivery:hover{
    cursor: pointer;
}

************************************************************************************************
*/
