.container{
    width: 600px;
    margin: 100px;
    border: solid;
    font-family: Nunito;
    line-height: 25px;
    padding: 50px;
}

.job,.skill,.education,.experience,.internet{
    color: rgb(15, 158, 17);
}

p{
    color: black;
    font-weight: 550;
    margin-top: 5px;
    margin-bottom: 2px;
}
h2{
    margin-bottom: 5px;
}