/* /* .search{
   display: block;
}
.panel{
   display: inline-block;
   width: 300px;
   vertical-align: top;
   margin-left: 20px;
}
.thumbnail{
   width: 300px;
}
p{
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
   margin-bottom: 12px;
}

.Author,.stats{

   font-size: 12px;
   color: rgb(96, 96, 96);

}

.Author{
   margin-bottom: 4px;
}

.Channel_prof{
   display: inline-block;
   vertical-align: top;
   width: 50px;
   margin-top: 12px;
}

.info{
   display: inline-block;
   vertical-align: top;
   width: 230px;
   margin-top: 12px;
}

.resize{
   width: 40px;
   border-radius : 50%;
} 


.search{
   display: block;
}
.thumbnail{
   width: 100%;
}
p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;

}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);

}

.resize{
   width: 100%;
   border-radius : 50%;
}


 
.grid{
    display: grid ;
    grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
}


************************************************************************************************ */
/* 

.thumbnail{
   width: 100%;
   margin-bottom: 15px;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);
}

.resize{
   width: 100%;
   border-radius : 50%;
}
.grid{
   display: grid ;
   grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
} */


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
/* .header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;


}
.left{
   background-color: lightblue;
   width: 150px;
}

.right{
   background-color: lightblue;
   width: 200px;
}

.middle{
   background-color: lightpink;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
} */

/* ************************************************************************************************BELOW GENERAL
*/

/* p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   margin: 0;
} 

************************************************************************************************
*/

/* .thumbnail{
   width: 100%;
   margin-bottom: 15px;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);
}

.resize{
   width: 100%;
   border-radius : 50%;
}
.grid{
   display: grid ;
   grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
} */


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
/* 
.header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;


}
.left{
   display: flex;
   align-items: center;
}

.menu{
   height: 26px;
   margin-left: 24px;
   margin-right: 20px;
}

.logo{
   height: 20px;
}

.middle{
   display: flex;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
   align-items: center;
}

.search{
   width: 0;
   height: 30px;
   flex: 1;
   padding-left: 10px;
   font-size: 16px;
   border-width: 1px ;
   border-style: solid;
   border-color: rgb(208, 208, 208);
   border-radius: 2px;
   box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.043);
}
.search::placeholder {
   font-family: roboto, arial;
   font-size: 16px;
}
.searchbut{
   width: 66px;
   height: 34px;
   background-color: rgb(229, 229, 229);
   border-style: solid;
   border-width: 1px;
   border-color: rgb(208, 208, 208);
   margin-left: -2px;
}

.searchicon{
   margin-top: 4px;
   height: 24px;
   background-color: rgb(229, 229, 229);
}
.voicebut{
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 50px;
   border: none;
   background-color: rgb(245, 245, 245);
}

.voiceicon{
   height: 24px;
   margin-top: 3px;
}

.right{
   display: flex;
   width: 180px;
   align-items: center;
   justify-content: space-between;
   margin-left: 20px;
   flex-shrink: 0;
}
.cam{
   height: 25px;
   flex: 1;
   background-color: white;
}

.cat{
   height: 25px;
   flex: 1;
   background-color: white;
}

.notification{
   height: 25px;
   flex: 1;
   background-color: white;
}
.chan{
   height: 32px;
   border-radius: 50%;
   padding: 20px;
   flex: 1;
}

 */

/* ************************************************************************************************BELOW GENERAL
*/

/* p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   margin: 0;
}
 */



 .thumbnail{
   width: 100%;
   margin-bottom: 15px;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);
}

.resize{
   width: 100%;
   border-radius : 50%;
}
.grid{
   display: grid ;
   grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
}


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
.header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   position: fixed;
   top: 0px;
   right: 0px;
   left: 0px;
   bottom: 0px;
   background-color: white;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgb(222, 222, 222);



}
.left{
   display: flex;
   align-items: center;
}

.menu{
   height: 26px;
   margin-left: 24px;
   margin-right: 20px;
}

.logo{
   height: 20px;
}

.middle{
   display: flex;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
   align-items: center;
}

.search{
   width: 0;
   height: 30px;
   flex: 1;
   padding-left: 10px;
   font-size: 16px;
   border-width: 1px ;
   border-style: solid;
   border-color: rgb(208, 208, 208);
   border-radius: 2px;
   box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.043);
}
.search::placeholder {
   font-family: roboto, arial;
   font-size: 16px;
}
.searchbut{
   width: 66px;
   height: 34px;
   background-color: rgb(229, 229, 229);
   border-style: solid;
   border-width: 1px;
   border-color: rgb(208, 208, 208);
   margin-left: -2px;
}

.searchicon{
   margin-top: 4px;
   height: 24px;
   background-color: rgb(229, 229, 229);
}
.voicebut{
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 50px;
   border: none;
   background-color: rgb(245, 245, 245);
}

.voiceicon{
   height: 24px;
   margin-top: 3px;
}

.right{
   display: flex;
   width: 180px;
   align-items: center;
   justify-content: space-between;
   margin-left: 20px;
   flex-shrink: 0;
}
.cam{
   height: 25px;
   flex: 1;
   background-color: white;
}

.cat{
   height: 25px;
   flex: 1;
   background-color: white;
}

.notification{
   height: 25px;
   flex: 1;
   background-color: white;
}
.chan{
   height: 32px;
   border-radius: 50%;
   padding: 20px;
   flex: 1;
}

.sidebar{
   background-color: green;
   position: fixed;
   left: 0px;
   bottom: 0px;
   top: 55px;
   width: 80px;
}

/* ************************************************************************************************BELOW GENERAL
*/

p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0 ;
   margin-bottom: 1000px;
   padding-top: 70px;
   padding-left: 80px;
}