/* .search{
   display: block;
}
.panel{
   display: inline-block;
   width: 300px;
   vertical-align: top;
   margin-left: 20px;
}
.thumbnail{
   width: 300px;
}
p{
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
   margin-bottom: 12px;
}

.Author,.stats{

   font-size: 12px;
   color: rgb(96, 96, 96);

}

.Author{
   margin-bottom: 4px;
}

.Channel_prof{
   display: inline-block;
   vertical-align: top;
   width: 50px;
   margin-top: 12px;
}

.info{
   display: inline-block;
   vertical-align: top;
   width: 230px;
   margin-top: 12px;
}

.resize{
   width: 40px;
   border-radius : 50%;
} */


.search{
   display: block;
}
.thumbnail{
   width: 100%;
}
p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;

}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);

}

.resize{
   width: 100%;
   border-radius : 50%;
}


 
.grid{
    display: grid ;
    grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
}