/* /* .search{
   display: block;
}
.panel{
   display: inline-block;
   width: 300px;
   vertical-align: top;
   margin-left: 20px;
}
.thumbnail{
   width: 300px;
}
p{
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
   margin-bottom: 12px;
}

.Author,.stats{

   font-size: 12px;
   color: rgb(96, 96, 96);

}

.Author{
   margin-bottom: 4px;
}

.Channel_prof{
   display: inline-block;
   vertical-align: top;
   width: 50px;
   margin-top: 12px;
}

.info{
   display: inline-block;
   vertical-align: top;
   width: 230px;
   margin-top: 12px;
}

.resize{
   width: 40px;
   border-radius : 50%;
} 


.search{
   display: block;
}
.thumbnail{
   width: 100%;
}
p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;

}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);

}

.resize{
   width: 100%;
   border-radius : 50%;
}


 
.grid{
    display: grid ;
    grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
}


************************************************************************************************ */
/* 

.thumbnail{
   width: 100%;
   margin-bottom: 15px;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);
}

.resize{
   width: 100%;
   border-radius : 50%;
}
.grid{
   display: grid ;
   grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
} */


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
/* .header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;


}
.left{
   background-color: lightblue;
   width: 150px;
}

.right{
   background-color: lightblue;
   width: 200px;
}

.middle{
   background-color: lightpink;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
} */

/* ************************************************************************************************BELOW GENERAL
*/

/* p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   margin: 0;
} 

************************************************************************************************
*/

/* .thumbnail{
   width: 100%;
   margin-bottom: 15px;
}

.Title{
   font-size: 16px;
   font-weight: 480;
   line-height: 20px;
}

.Author,.stats{
   font-size: 100%;
   color: rgb(96, 96, 96);
}

.resize{
   width: 100%;
   border-radius : 50%;
}
.grid{
   display: grid ;
   grid-template-columns: 50px 1fr;
}

.main-grid{
   display: grid ;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
} */


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
/* 
.header{
   height: 55px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;


}
.left{
   display: flex;
   align-items: center;
}

.menu{
   height: 26px;
   margin-left: 24px;
   margin-right: 20px;
}

.logo{
   height: 20px;
}

.middle{
   display: flex;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
   align-items: center;
}

.search{
   width: 0;
   height: 30px;
   flex: 1;
   padding-left: 10px;
   font-size: 16px;
   border-width: 1px ;
   border-style: solid;
   border-color: rgb(208, 208, 208);
   border-radius: 2px;
   box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.043);
}
.search::placeholder {
   font-family: roboto, arial;
   font-size: 16px;
}
.searchbut{
   width: 66px;
   height: 34px;
   background-color: rgb(229, 229, 229);
   border-style: solid;
   border-width: 1px;
   border-color: rgb(208, 208, 208);
   margin-left: -2px;
}

.searchicon{
   margin-top: 4px;
   height: 24px;
   background-color: rgb(229, 229, 229);
}
.voicebut{
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 50px;
   border: none;
   background-color: rgb(245, 245, 245);
}

.voiceicon{
   height: 24px;
   margin-top: 3px;
}

.right{
   display: flex;
   width: 180px;
   align-items: center;
   justify-content: space-between;
   margin-left: 20px;
   flex-shrink: 0;
}
.cam{
   height: 25px;
   flex: 1;
   background-color: white;
}

.cat{
   height: 25px;
   flex: 1;
   background-color: white;
}

.notification{
   height: 25px;
   flex: 1;
   background-color: white;
}
.chan{
   height: 32px;
   border-radius: 50%;
   padding: 20px;
   flex: 1;
}

 */

/* ************************************************************************************************BELOW GENERAL
*/

/* p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   margin: 0;
}
 */

 .panel {
   display: block;
   width: 300px;
 }
 .thumbnail {
   position: relative;
   width: 300px;
   margin-bottom: 11px;
 }
 .absolute {
   position: relative;
 }
 .timestamp {
   position: absolute;
   color: white;
   background-color: rgba(0, 0, 0, 0.737);
   bottom: 23px;
   right: 8px;
   margin: 0;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
   border-radius: 3px;
 }
 .info {
   display: grid;
   grid-template-columns: 50px 1fr;
 }
 .porfilepic {
   display: inline-block;
   position: relative;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
 }
 
 .porfilepictooltip1 {
   position: absolute;
 }
 
 .porfilepic .tooltip1 {
   position: absolute;
   display: flex;
   width: 200px;
   border: 10px none;
   border-radius: 8px;
   padding: 10px;
   box-shadow: 0px 0 2cap rgba(0, 0, 0, 0.337);
   opacity: 0;
   transition: 0.3s;
   background-color: white;
   justify-content: center;
   align-items: center;
   bottom: -90px;
   left: 10px;
   pointer-events: none;
 }
 
 .porfilepic:hover .tooltip1 {
   opacity: 1;
 }
 
 .infotxt {
   margin-top: 0;
   margin-left: 4px;
 }
 .title {
   font-size: 17px;
   font-weight: 750;
   margin-bottom: 10px;
 }
 .channelname {
   font-size: 14px;
   color: rgb(105, 103, 103);
   margin-bottom: 5px;
 }
 .time {
   font-size: 14px;
   color: rgb(105, 103, 103);
 }
 
 .main-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 16px;
   row-gap: 40px;
 }
 
 .underline {
   text-decoration: none;
   color: black;
 }
 
 .container {
   position: absolute;
   display: flex;
   border: 10px none;
   border-radius: 8px;
   margin: 0;
   box-shadow: 0px 0 2px rgba(0, 0, 0, 0.337);
   opacity: 0;
   transition: 0.03s;
 }
 .containerpic {
     width: 60px;
     height: 60px;
     margin-right: 20px;
     border-radius: 50%;
 }
 .containername{
     font-weight: 700;
     padding-bottom: 5px;
 }
 
 .containersub {
   color: rgb(87, 87, 87);
 }
 
 .div {
   font-family: "Courier New", Courier, monospace;
 }
 
 .tooltip1 {
   position: relative;
   z-index: 500;
 }
 


/* ABOVE VIDEO************************************************************************************************BELOW HEADER
*/
.header{
   height: 55px;

   display: flex;
   flex-direction: row;
   justify-content: space-between;

   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 100;


   background-color: white;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgb(222, 222, 222);

}
.left{
   display: flex;
   align-items: center;
}

.menu{
   height: 26px;
   margin-left: 24px;
   margin-right: 20px;
}

.logo{
   position: relative;
   height: 20px;
   cursor: pointer;
}

.middle{
   display: flex;
   flex:1;
   margin-left: 70px;
   margin-right: 35px;
   max-width: 500px;
   align-items: center;
}

.search{
   width: 0;
   height: 30px;
   flex: 1;
   padding-left: 10px;
   font-size: 16px;
   border-width: 1px ;
   border-style: solid;
   border-color: rgb(208, 208, 208);
   border-radius: 2px;
   box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.043);
}
.search::placeholder {
   font-family: roboto, arial;
   font-size: 16px;
}
.searchbut{
   position: relative;
   width: 66px;
   height: 34px;
   background-color: rgb(229, 229, 229);
   border-style: solid;
   border-width: 1px;
   border-color: rgb(208, 208, 208);
   margin-left: -2px;
   cursor: pointer;
}
.searchbuttooltip, .voicebuttooltip, .camtooltip, .cattooltip, .notificationtooltip, .chantooltip,
.logotooltip{
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 500;
}

.searchbut .tooltip, .voicebut .tooltip, .cam .tooltip, .cat .tooltip,  .notification .tooltip, .chan .tooltip,
.logo .tooltip{
   position: absolute;
   background-color: grey;
   color: white;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 4px;
   padding-bottom: 4px;
   border-radius: 2px;
   font-size: 12px;
   bottom: -30px;
   opacity: 0;
   transition: opacity 0.3s;
   pointer-events: none;
   white-space: nowrap;
   
}
.searchbut:hover .tooltip, .voicebut:hover .tooltip, .cam:hover .tooltip, .cat:hover .tooltip, 
.notification:hover .tooltip, .chan:hover .tooltip, .logo:hover .tooltip{
   opacity: 1;

}

.searchicon{
   height: 24px;
}

.voicebut{
   position: relative;
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 50px;
   border: none;
   background-color: rgb(245, 245, 245);
   cursor: pointer;
}

.voiceicon{
   height: 24px;
}

.right{
   display: flex;
   width: 180px;
   align-items: center;
   justify-content: space-between;
   margin-left: 20px;
   flex-shrink: 0;
}
.cam{
   position: relative;
   height: 25px;
   flex: 1;
   background-color: white;
   cursor: pointer;
}

.cat{
   height: 25px;
   flex: 1;
   background-color: white;
   cursor: pointer;
}

.notification{
   position: relative;
   height: 25px;
   flex: 1;
   background-color: white;
   cursor: pointer;
}

.notification-icon{
   position: relative;
}
.notification-number{
   position: absolute;
   font-family: roboto,arial;
   font-size: 12px;
   top: -2px;
   right: -6px;
   background-color: rgb(194, 9, 9);
   color: white;
   border-radius: 50%;
   padding-left: 6px;
   padding-right: 6px;
   padding-top: 2px;
   padding-bottom: 2px;
}
.chan{
   position: relative;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-left: 10px;
   flex: 1;
   cursor: pointer;
}

.sidebar{
   position: fixed;
   background-color: white;
   left: 0px;
   bottom: 0px;
   top: 55px;
   width: 80px;
   padding-top: 5px;
   z-index: 200;
}
.sidebarlink{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 74px;
   margin-bottom: 1px;
   cursor: pointer;
   flex-direction: column;
}
.sidebarlink:hover{
   background-color: rgb(230, 230, 230);
}
.sidebarlink img{
   height: 24px;
   margin-bottom: 4PX;
}
.sidebarlink div{
   font-family: roboto, arial;
   font-weight: 600;
   font-size: 10px;
}

/* ************************************************************************************************BELOW GENERAL
*/

p{
   font-size: 100%;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-left: 10px;
   font-family: Roboto, Arial;
}

body{
   background-color: rgb(248, 248, 248);
   margin: 0;
   margin-bottom: 1000px;
   padding-top: 70px;
   padding-left: 96px;
   padding-right: 24px;
}

.underline{
   text-decoration: none;
   color: black;
}